<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
	<div class="row">
      <div class="col-md-8 col-md-offset-3">
          <h3> {{ title }}</h3>
        <div class="well well-sm">
          <form class="form-horizontal" action="{% url 'menu:store_menu'%}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset>
            <legend class="text-center">Menu Registration</legend>
    
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Title</label>
              <div class="col-md-8">
                <input id="title" name="title" type="text" placeholder="Title" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Details</label>
              <div class="col-md-8">
                <textarea id="name" name="details" type="text" placeholder="Menu details.." class="form-control"></textarea>
              </div>
            </div>
    

            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Price</label>
              <div class="col-md-8">
                <input id="price" name="price" type="number" placeholder="Price" class="form-control">
              </div>
            </div>

            <div class="custom-file">
              <label class="col-md-3 control-label" for="email">Picture</label>
              <div class="col-md-8">
                <input id="picture" name="picture" type="file" class="custom-file-input">
              </div>
            </div>
    
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
</div>

<style>
    body {
      padding-top:50px;
      padding-right: 150px;
      }
</style>